@tailwind base;
@tailwind components;
@tailwind utilities;

.h-1\/10 {
  height: 10%;
}

.h-7\/10 {
  height: 70%;
}

.h-2\/10 {
  height: 20%;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
